.container {
    .segment {
        display: flex;
        margin-top: 35px;

        &__main {
            flex-basis: 636px;
            flex-shrink: 0;
        }
        &__sidebar {
        }
    }
}

@media only screen and (max-width : 1068px){
    .container {
        .segment {
            display: inline;
            &__main {
                margin-top: 30px;
            }
            &__sidebar {
                .widget-search {
                    display: none;
                }
            }
        }
    }
}

@media only screen and (min-width : 1068px){
    .container {
        .segment {
            &__main {
                .widget-search {
                    display: none;
                }
            }

            &__sidebar {
                flex-basis: 265px;
                flex-shrink: 0;
                min-width: 0;
                margin-left: 30px;
            }
        }
    }
}