.foot {
    color: #fff;
    background: #1b1b1b;
    display: block;
    width: 100%;
    margin-top: 25px;
    padding: 30px 0;
    -webkit-font-smoothing: antialiased;

    .contact {
        
    }
}