.foot {
    color: #fff;
    background: #1b1b1b;
    display: block;
    width: 100%;
    min-width: 608px;
    margin-top: 25px;
    padding: 46px 0 62px;
    -webkit-font-smoothing: antialiased;

    .contact {
        
    }
}