@import "./common";

* {
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    font-family: 'Muli',sans-serif;
    word-spacing: 0.5px;
}

.t-color-main {
    color: #325a97;
    color: #476BA2;
}

.t-color-other {
    color: #5e709d;
}

.w-display {
    width: 83.3333333333%;
    max-width: 1024px;
    z-index: 1;
    margin: 0 auto;
}

.w-content {
    margin: 0 auto;
}

.picture--latest {
    display: block;
    width: 100%;
    height: auto
}

.picture--item {
    display: block;
    width: 250px;
    height: auto
}

@media only screen and (min-width : 1190px){
    .w-content {
        width: 931px;
    }
}

//HomePage
.segment {
    display: flex;
}

.main {
    flex-basis: 636px;
    flex-shrink: 0;
}

@media only screen and (max-width: 1068px) {
    .segment {
        display: inline;
    }
}

@media only screen and (max-width : 1068px){
    .sidebar {
        .widget-search {
            display: none;
        }
    }
}

@media only screen and (min-width : 1068px){
    .main {
        .widget-search {
            display: none;
        }
    }
    .sidebar {
        flex-basis: 265px;
        flex-shrink: 0;
        min-width: 0;
        margin-left: 30px;
    }
}
//End

//PostPage
.background {
    border-radius: 12px;
    background: linear-gradient(180deg,#ebf4fd,hsla(0,0%,100%,0) 600px 45%);
    //background: linear-gradient(180deg,#ebf4fd,hsla(0,0%,100%,0) 600px,hsla(0,0%,100%,0) 80%,#ebf4fd);
}
.post {
    padding-top: 50px;

    &__header {
        margin: 0 37px;
        &__title {
            color: #325a97;
            font-size: 30px;
            text-align: center;
            font-family: Helvetica, sans-serif;
            text-shadow: 0.5px 0.5px 1px #476BA2;
        }
        &__banner {
            margin-top: 30px;
            margin-bottom: 60px;
        }
    }

    &__content {
        max-width: 980px;
        margin: 0 auto;
        .content-display {
            background-color: #fff;
            border-radius: 20px;
            padding: 21px 24px;
            box-shadow: 0 1px 4px 0 rgba(117,141,166,.2142);

            .author {
                display: flex;
                align-items: center;
                .avatar {
                    position: relative;
                    overflow: hidden;
                    width: 50px;
                    height: 50px;
                    margin-right: 18px;
                    border-radius: 50%;
                }
                .name {
                    font-size: 17px;
                    line-height: 26px;
                    color: #E5801B;
                }
                .datetime {
                    font-size: 15px;
                    line-height: 22px;
                    color: #5e709d;
                }
            }
            .separator {
                margin: 32px 0 40px;
                width: 100%;
                position: relative;
                box-sizing: border-box;
                height: 1px;
                margin-left: auto;
                margin-right: auto;
                background-color: #e7edf1;
            }
            .typography {
                word-break: break-word;
                white-space: pre-line;
                line-height: 1.65;
                h2 {
                    font-size: 24px;
                    color: #325a97;
                    border-bottom: 1px solid rgba(27,31,35,.05);
                    margin-bottom: 25px;
                }
                h3 {
                    font-size: 21px;
                    color: #325a97;
                    border-bottom: 1px solid rgba(27,31,35,.05);
                    margin-bottom: 25px;
                }
                p {
                    font-size: 17px;
                    color: #325a97;
                }
                pre {
                    color: #ccc;
                    background: #2d2d2d;
                    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
                    font-size: 1em;
                    text-align: left;
                    white-space: pre;
                    word-spacing: normal;
                    word-break: normal;
                    word-wrap: normal;
                    line-height: 1.5;
                    tab-size: 4;
                    hyphens: none;
                    padding: 1em;
                    margin: 35px 0;
                    overflow: auto;
                    border-radius: 3px;
                    code {

                    }
                }
            }
        }
    }
}

@media only screen and (min-width : 992px) {
    .post__header__title {
        margin: 0 40px;
        font-size: 40px;
    }
    .post__content {
        width: 83.333333%;
        .content-display {
            padding: 52px;
            .typography {
                h2 {
                    font-size: 26px;
                }
                h3 {
                    font-size: 23px;
                }
                p {
                    font-size: 19px;
                }
                pre {
                    
                    code {

                    }
                }
            }
        }
    }
}
//End

