@import "./common";

* {
    margin: 0;
    padding: 0;
    border: 0;
  }

.t-color-main {
    color: #325a97;
    color: #476BA2;
}

.t-color-other {
    color: #5e709d;
}

.w-display {
    width: 83.3333333333%;
    max-width: 1024px;
    z-index: 1;
    margin: 0 auto;
}

.w-content {
    margin: 0 auto;
}

.picture--latest {
    display: block;
    width: 100%;
    height: auto
}

.picture--item {
    display: block;
    width: 250px;
    height: auto
}

@media only screen and (min-width : 1190px){
    .w-content {
        width: 931px;
    }
}

//HomePage
.segment {
    display: flex;
}

.main {
    flex-basis: 636px;
    flex-shrink: 0;
}

@media only screen and (max-width: 1068px) {
    .segment {
        display: inline;
    }
}

@media only screen and (max-width : 1068px){
    .sidebar {
        .widget-search {
            display: none;
        }
    }
}

@media only screen and (min-width : 1068px){
    .main {
        .widget-search {
            display: none;
        }
    }
    .sidebar {
        flex-basis: 265px;
        flex-shrink: 0;
        min-width: 0;
        margin-left: 30px;
    }
}
//End

//PostPage
.background {
    border-radius: 12px;
    background: linear-gradient(180deg,#ebf4fd,hsla(0,0%,100%,0) 600px,hsla(0,0%,100%,0) 80%,#ebf4fd);
    //background: linear-gradient(180deg,#ebf4fd,hsla(0,0%,100%,0) 10%,hsla(0,0%,100%,0) 80%,#ebf4fd);
}
.post {
    margin: 0 auto;
    padding-top: 50px;

    &__header {
        &__title {
            margin-bottom: 30px;
        }
        &__banner {
            margin-bottom: 60px;
        }
    }

    &__content {
        max-width: 980px;

        .content-display {
            background-color: #fff;
            border-radius: 20px;
            padding: 21px 24px;
            box-shadow: 0 1px 4px 0 rgba(117,141,166,.2142);

            .author {
                display: flex;
                align-items: center;

                .avatar {
                    position: relative;
                    overflow: hidden;
                    width: 50px;
                    height: 50px;
                    margin-right: 18px;
                    border-radius: 50%;
                }
                .name {
                    font-size: 17px;
                    line-height: 22px;
                    color: #5e709d;
                }
                .datetime {
                    font-size: 15px;
                    line-height: 22px;
                    color: #5e709d;
                }
            }
            .separator {
                margin: 32px 0 40px;
                width: 100%;
                position: relative;
                box-sizing: border-box;
                height: 1px;
                margin-left: auto;
                margin-right: auto;
                background-color: #e7edf1;
            }
            .typography {
                word-break: break-word;
                white-space: pre-line;
                font-family: Poppins,serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 28px;
        color: #5e709d;
            }
        }
        
    }
}

@media only screen and (min-width : 992px) {
    // .post__header__content {
    //     width: 81.6666666667%;
    // }

    .content-display {
        padding: 58px;
    }

}
//End

