@import "./common";
@import "./bootstrap";

* {
    margin: 0;
    padding: 0;
    border: 0;
}

*,:after,:before {
    box-sizing: border-box;
}

html {
    font-family: 'Muli',sans-serif;
}

body {
    background: #f3f3f3 none;
}

.t-color-main {
    color: #325a97;
    color: #476BA2;
}

.wrapper {
    width: 88.3333333333%;
    max-width: 1024px;
    z-index: 1;
    margin: 0 auto;
}

.author {
    display: flex;
    align-items: center;
    margin: 20px 0 0;
    color: #818181;
    .avatar {
        position: relative;
        overflow: hidden;
        width: 24px;
        height: 24px;
        border-radius: 50%;
    }
    .name {
        margin-left: 5px;
        font-size: 13px;
        line-height: 22px;
    }
    .daytime {
        margin-left: 15px;
        font-size: 13px;
        line-height: 22px;

        .fa-calendar {
            margin-right: 3px;
            font-size: 14px;
        }
    }
}

//PostPage
.post {
    &__content {
        max-width: 720px;
        margin: 0 auto;
        .banner {
            display: block;
            width: 100%;
            height: auto
        }

        .frame {
            background-color: #fff;
            padding: 21px 24px;
            box-shadow: 0 1px 4px 0 rgba(117, 141, 166, 0.3142);

            .category {
                margin-bottom: 15px;
                .text {
                    background-color: #767676;
                    border-radius: 0 2px 2px 0;
                    color: #fff;
                    display: inline-block;
                    font-size: 10px;
                    font-weight: 600;
                    line-height: 1.2727272727;
                    margin: 0px 4px 0px 10px;
                    padding: 3px 7px;
                    position: relative;
                    text-transform: uppercase;
                }
                .text::after {
                    background-color: #fff;
                    border-radius: 50%;
                    content: "";
                    height: 4px;
                    position: absolute;
                    top: 7px;
                    left: -2px;
                    width: 4px;
                }
                .text::before {
                    border-top: 9px solid transparent;
                    border-right: 8px solid #767676;
                    border-bottom: 9px solid transparent;
                    content: "";
                    height: 0;
                    position: absolute;
                    top: 0;
                    left: -8px;
                    width: 0;
                }
            }

            .title {
                color: #325a97;
                text-align: center;
                font-family: Helvetica, sans-serif;
                text-shadow: 0.5px 0.5px 1px #476BA2;
                margin-bottom: 20px;
                font-size: 22px;
                text-transform: uppercase;
                text-align: left;
                line-height: 32px;
            }

            .separator {
                margin: 32px 0 40px;
                width: 100%;
                position: relative;
                box-sizing: border-box;
                height: 1px;
                margin-left: auto;
                margin-right: auto;
                background-color: #e7edf1;
            }
            .typography {
                word-spacing: 0.3px;
                word-break: break-word;
                white-space: pre-line;
                line-height: 1.65;
                h2,h3,h4 {
                    color: #325a97;
                    border-bottom: 1px solid rgba(27,31,35,.09);
                    margin-bottom: 25px;
                    padding-top: 7px;
                }
                h2 {
                    font-size: 24px;
                }
                h3 {
                    font-size: 21px;
                }
                h4 {
                    font-size: 19px;
                }
                p {
                    font-size: 17px;
                    color: #282C36;
                    margin-bottom: 20px;
                    code {
                        font-family: monospace;
                        padding: 3px 8px;
                        margin: 0;
                        word-break: break-word;
                        border-radius: 3px;
                        background-color: rgba(27,31,35,.05);
                        font-size: 15px;
                        color: #325a97;
                    }
                    img {
                        display: block;
                        width: 100%;
                        height: auto;
                        padding: 10px 0;
                    }
                    a{
                        color: #0366d6;
                        text-decoration: none;
                        font-size: 17px;
                    }
                    a:hover {
                        text-decoration: underline;
                    }
                }
                pre {
                    color: #ccc;
                    background: #2d2d2d;
                    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
                    font-size: 1em;
                    text-align: left;
                    white-space: pre;
                    word-spacing: normal;
                    word-break: normal;
                    word-wrap: normal;
                    line-height: 1.5;
                    tab-size: 4;
                    hyphens: none;
                    padding: 1em;
                    overflow: auto;
                    border-radius: 3px;
                    margin: 25px 0;
                    code {
                        font-size: 15px;
                    }
                }
                blockquote {
                    p {
                        padding: 8px 16px;
                        background-color: #ecf8ff;
                        border-radius: 4px;
                        border-left: 5px solid #50bfff;
                        margin: 25px 0;
                        font-size: 17px;
                    }
                }
                ul {
                    list-style-position: outside;
                    margin-bottom: 25px;
                    margin-left: 35px;
                    li {
                        font-size: 15px;
                        margin-bottom: 10px;
                        padding-left: 5px;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width : 992px) {
    .post__content {
        width: 720px;
    }
}

@media only screen and (min-width : 768px) {
    .post__content {
        .frame {
            padding: 40px 52px;
            .title {
                font-size: 24px;
                line-height: 35px;
            }
            .typography {
                h2 {
                    font-size: 26px;
                }
                h3 {
                    font-size: 23px;
                }
                h4 {
                    font-size: 21px;
                }
                p {
                    font-size: 19px;
                }
                pre {
                    code {

                    }
                }
                ul {
                    li {
                        font-size: 17px;
                    }
                }
            }
        }
    }
}
//End

