.global-header {
    border-bottom: 1px solid #e7e7e8;
    border-top: 0;
    color: #333;
    width: 100%;
    z-index: 50000;
    background-color: #FFF;
    animation-duration: 0.8s;

    .wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        min-height: 64px;
        z-index: 2;
        margin: auto;
    }

    &__logo {
        img {
            display: block;
            width: 172px;
            height: auto;
        }
    }

    &__social {
        padding-left: 15px;
        .social-facebook {
            text-decoration: none;
            width: 100%;
            border-radius: 50%;
            padding-left: 4px;
            transition: opacity .3s;
            letter-spacing: .1em;
            line-height: 1;
            text-transform: uppercase;
            align-items: center;
            display: flex;
            padding: 8px;

            > svg {
                height: 21px;
                width: 21px;
                fill: #476BA2;
            }
            .social-buttons {
                color: #476BA2;
                padding-left: 7px;
                font-family: Helvetica, sans-serif;
                font-size: 11px;
                font-weight: 500;
                letter-spacing: .1em;
            }
        }

        .social-facebook:hover {
            opacity: 1;
        }
    }

    &__title {
        font-family: Helvetica, sans-serif;
        opacity: 0.9;
        color: #476BA2;
        text-shadow: 1px 1px 3px grey;
    }

    > ul {
        list-style-type: none;
        margin: 0;
        display: flex;
        font-size: .625em;
        > li {
            padding: 0 12px;
        }
    }
}

.sticky {
    position: fixed;
    top: 0;
    animation-name: fadeInDown;
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.2);
}

@keyframes fadeInDown {
    0% {
       opacity: 0;
       transform: translateY(-20px);
    }
    100% {
       opacity: 1;
       transform: translateY(0);
    }
 }

@media only screen and (max-width : 769px){
    .global-header {
        &__title {
            display: none;
        }
    }
}