.card {
    background: #fff none;
    padding: 30px;
    -webkit-box-shadow: 0 3px 5px 0 rgba(0, 1, 1, .1);
    box-shadow: 0 3px 5px 0 rgba(0,1,1,.1);
    height: 100%;

    &__img {
        position: relative;
        margin: -30px -30px 0;
        a {
            display: block;
            line-height: 0;
            .picture {
                width: 100%;
                height: auto;
                min-height: 120px;
            }
        }
    }

    &__content {
        margin: 22px 0 0;
        .title {
            a {
                font-family: 'Roboto',Arial,sans-serif;
                font-size: 20px;
                line-height: 29px;
                color: #222;
                text-decoration: none;
                text-transform: uppercase;
                display: block;
                transition: all .3s;
                -webkit-transition: all .3s;
                font-weight: bold;
            }
            a:hover {
                color: #009cff;
            }
        }
    }

    &__category {
        margin-top: 10px;
        .text {
            background-color: #818181;
            border-radius: 0 2px 2px 0;
            color: #fff;
            display: inline-block;
            font-size: 10px;
            font-weight: 600;
            line-height: 1.2727272727;
            margin: 0px 4px 0px 10px;
            padding: 3px 7px;
            position: relative;
            text-transform: uppercase;
        }
        .text::after {
            background-color: #fff;
            border-radius: 50%;
            content: "";
            height: 4px;
            position: absolute;
            top: 7px;
            left: -2px;
            width: 4px;
        }
        .text::before {
            border-top: 9px solid transparent;
            border-right: 8px solid #818181;
            border-bottom: 9px solid transparent;
            content: "";
            height: 0;
            position: absolute;
            top: 0;
            left: -8px;
            width: 0;
        }
    }
}